name: Deploy Cloud Run service

on:
  workflow_call:
    inputs:
      build_image:
        required: true
        type: string
      service_name:
        required: true
        type: string
      registry_hostname:
        required: false
        type: string
        default: europe-west3-docker.pkg.dev
      pom_folder:
        required: false
        type: string
        default: .
        description: "For Maven projects: folder containing pom.xml"
      build_folder:
        required: false
        type: string
        default: .
        description: "For Gradle projects: folder containing build.gradle.kts"
      build_native:
        required: false
        type: boolean
        default: true
      build_tool:
        required: false
        type: string
        default: auto
        description: "Build tool to use: 'maven', 'gradle', or 'auto' to detect automatically"

jobs:
  build:
    name: Building the Cloud Run Container
    uses: Matil86/github-actions/.github/workflows/build-cloud-run.yaml@main
    with:
      build_image: ${{ inputs.build_image }}
      pom_folder: ${{ inputs.pom_folder }}
      build_folder: ${{ inputs.build_folder }}
      build_native: ${{ inputs.build_native }}
      build_tool: ${{ inputs.build_tool }}
    secrets: inherit

  deploy:
    name: Deploying the Cloud Run Container
    needs: build
    uses: Matil86/github-actions/.github/workflows/deploy-cloud-run.yaml@main
    with:
      build_image: ${{ inputs.build_image }}
      service_name: ${{ inputs.service_name }}
      registry_hostname: ${{ inputs.registry_hostname }}
    secrets: inherit
